<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:replace="fragments/resources :: head ('Progress')"></div>
<body>
<header th:replace="fragments/layout :: header"></header>

<section class="container pt-3">
	<h1>Progress</h1>
	<table class="table table-bordered table-hover align-middle text-center">
		<tr th:insert="fragments/layout :: tableRow('Student', ${progress.student.name})"></tr>
		<tr th:insert="fragments/layout :: tableRow('Subject', ${progress.subject.name})"></tr>
		<tr th:insert="fragments/layout :: tableRow('Grade', ${progress.grade})"></tr>
	</table>
	
	<div sec:authorize="hasRole('ADMIN')" class="btn-group">
		<div th:replace="fragments/buttons :: editAndDeleteBtn(
		@{/progress/{id}/edit (id=${progress.id})},
		@{/progress/{id} (id=${progress.id})})"></div>
	</div>
</section>

<footer th:replace="fragments/layout :: footer"></footer>
<script th:replace="fragments/resources :: bootstrapBundleScript"></script>
</body>
</html>