<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/resources :: tdHead ('Groups')"></div>
<body>
<header th:replace="fragments/layout :: header"></header>

<section class="container pt-3">
	<h1>Groups</h1>
	<table class="table table-hover align-middle text-center" id="table">
		<thead class="table-light">
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Number of students</th>
			<th>List of students</th>
			<th>Action</th>
		</tr>
		</thead>
		
		<tbody>
		<tr th:each="item : ${groups}">
			<th>
				<a class="w-100 btn btn-secondary" th:href="@{/groups/{id} (id=${item.id})}" th:text="${item.id}"></a>
			</th>
			<td th:text="${item.name}"></td>
			<td th:text="${item.studentsNumber}"></td>
			<td th:insert="fragments/layout :: dropdown(${item.students})"></td>
			<td>
				<div class="btn-group">
					<div th:replace="fragments/buttons ::
					editAndDeleteOutlineBtn(@{/groups/{id}/edit (id=${item.id})}, @{/groups/{id} (id=${item.id})})"></div>
				</div>
			</td>
		</tr>
		</tbody>
	</table>
	
	<div th:replace="fragments/buttons :: createBtn(@{/groups/new})"></div>
</section>

<footer th:replace="fragments/layout :: footer"></footer>

<div th:replace="fragments/resources :: dtScripts"></div>
<script th:replace="fragments/resources :: bootstrapBundleScript"></script>
<script>
	$(document).ready(function () {
		$('#table').DataTable({
			"columnDefs": [{
				"targets": [3, 4],
				"orderable": false,
			}]
		});
	});
</script>
</body>
</html>