<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/resources :: head ('Lesson')"></div>
<body>
<header th:replace="fragments/layout :: header"></header>

<section class="px-5">
	<div class="container">
		<h1>Lesson</h1>
		<form method="post" th:object="${lesson}">
			<table>
				<tr>
					<td th:insert="fragments/input :: select('Subject', 'subject', ${subjects})">
				</tr>
				<tr>
					<td th:insert="fragments/input :: select('Teacher', 'teacher', ${teachers})">
				</tr>
				<tr>
					<td th:insert="fragments/input :: select('Lesson type', 'lessonType', ${lessonTypes})">
				</tr>
			</table>
			
			<hr>
			<input class="btn btn-primary" type="submit" value="Submit">
		</form>
	</div>
</section>

<footer th:replace="fragments/layout :: footer"></footer>
<script th:replace="fragments/resources :: bootstrapBundleScript"></script>
</body>
</html>