<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:replace="fragments/resources :: tdHead ('Students')"></div>
<body>
<header th:replace="fragments/layout :: header"></header>

<section class="container pt-3">
	<h1>Students</h1>
	<table class="table table-hover align-middle text-center" id="table">
		<thead class="table-light">
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Course</th>
			<th>Phone number</th>
			<th>E-mail</th>
			<th>Group</th>
			<th sec:authorize="hasRole('ADMIN')">Action</th>
		</tr>
		</thead>
		
		<tbody>
		<tr th:each="item : ${students}">
			<td>
				<a class="w-100 btn btn-secondary" th:href="@{/students/{id} (id=${item.id})}" th:text="${item.id}"></a>
			</td>
			<td th:text="${item.name}"></td>
			<td th:text="${item.course}"></td>
			<td th:text="${item.phoneNumber}"></td>
			<td th:if="${not item.email.isEmpty()}" th:text="${item.email}"></td>
			<td th:unless="${not item.email.isEmpty()}">-</td>
			<td th:text="${item.group.name}"></td>
			<td sec:authorize="hasRole('ADMIN')">
				<div class="btn-group">
					<div th:replace="fragments/buttons ::
					editAndDeleteOutlineBtn(@{/students/{id}/edit (id=${item.id})}, @{/students/{id} (id=${item.id})})"></div>
				</div>
			</td>
		</tr>
		</tbody>
	</table>
	
	<div>
		<hr>
		<form th:action="@{/students/new}">
			<input class="btn btn-primary" type="submit" value="Create">
		</form>
	</div>
</section>

<footer th:replace="fragments/layout :: footer"></footer>

<div th:replace="fragments/resources :: dtScripts"></div>
<script th:replace="fragments/resources :: bootstrapBundleScript"></script>
<script sec:authorize="hasRole('ADMIN')">
	$(document).ready(function () {
		$('#table').DataTable({
			"columnDefs": [{
				"targets": [6],
				"orderable": false,
			}]
		});
	});
</script>
<script sec:authorize="!hasRole('ADMIN')">
	$(document).ready(function () {
		$('#table').DataTable();
	});
</script>
</body>
</html>